body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#section-edit ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-edit li {
  margin: 0 1.5rem;
}

#section-listings {
  min-height: 30rem;
  max-height: 30rem;
  overflow-y: scroll;
}

ul.ba {
  list-style-type: none;
}

.img-container {
  text-align: center;
  display: block;
}
